h1 {
    font-weight: 900;
    font-size: 2em;
    max-width: 40em;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .login {
    padding: 2em;
    margin: 5em 1em;
    max-width: 40em;
  }
  